<template>
	<div id='movie-list'> 
		<div v-if="filteredMovies.length !=0">
			<movie-item v-for='movie in filteredMovies' v-bind:movie='movie.movie' >
				<div class="movie-sessions" >
					<div class='session-time-wrapper tooltip-wrapper' 
						v-for="session in filteredSessions(movie.sessions)" 
						v-tooltip="{seats:session.seats}"
						v-bind:key='session.id'>
						<div class='session-time'>{{formatSessionTime(session.time)}}</div>
					</div>
				</div>
			</movie-item>	
		</div>
		<div v-else-if="movies.length !=0" class='no-results' >
			{{noResults}}
		</div>	
		<div v-else class='no-results'>
			Loading...
		</div>
	</div>
</template>


<script>
	import genres from '../util/genres.js';
	import times from '../util/times.js';
	import MovieItem from './MovieItem.vue';
	export default{
		props:['genre','time','movies','day'],
		methods:{
			formatSessionTime(raw){
				return this.$moment(raw).format('h:mm A');
			},
			sessionPassesTimeFilter(session){
				if(!this.day.isSame(this.$moment(session.time),'day')){
					return false;
				}else if(this.time.length===0||this.time.length===2){
					return true;
				}else if(this.time[0]===times.AFTER_6PM){
					return this.$moment(session.time).hour()>=18;
				}else{
					return this.$moment(session.time).hour()<18;
				}
			},
			filteredSessions(sessions){
				return sessions.filter(this.sessionPassesTimeFilter);
			},
			moviePassesGenreFilter(movie){
				if(!this.genre.length){
					return true;
				}
				let movieGenres=movie.movie.Genre.split(', ');
				let matched=true;
				this.genre.forEach(genre=>{
					if(movieGenres.indexOf(genre)===-1){
						matched=false;
					}
				});
				return matched;
			},
		},
		computed:{
			filteredMovies(){
				return this.movies
					.filter(this.moviePassesGenreFilter)
					.filter(movie=> movie.sessions.find(this.sessionPassesTimeFilter));
			},
			noResults(){
				let times=this.time.join(', ');
				let genres=this.genre.join(', ');

				if(times.length){
					return `No results for ${times}, ${genres}.`
				}else{
					return `No results for ${genres}.`
				}
				
			},
		},
		components:{
			MovieItem
		},
		created(){
			
		}
	};
</script>